.styleCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 8px;
    margin-left: 8px;
    border-color: black;
    font-weight: 700;
    border-style: solid;
    background-color: #F0F0F0;
    border: 1px solid white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.6rem;
}