.logo{
    width: 90%;
    padding-left: 10%;

}
.navbar{
    background-color: rgb(231, 231, 231);
    border-bottom: solid 5px gray;

}
.navItems{
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style: none;
border-top: solid 5px gray;
}
.navItems li{
    font-size: medium;
    font-family: Georgia,;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.button-nav{
    margin: none;
    text-decoration: none;
    font-size: larger;
}